/* Spendology Widget Styling */
.widget {
    padding: 0 10px;
}
.usps {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.usps li {
    margin-bottom: 5px;
}
.usps a {
    text-decoration: none;
    color: rgb(70, 137, 218);
}
.usps li:before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 14px;
    background-image: url(https://uploads-ssl.webflow.com/60afc15012423d1c5d979f74/60f2bfb476fbf1ae12f19e97_checkmark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.7rem;
}
.tmc-widget-inner {
    box-shadow: none !important;
    border-radius: 0 !important;
}
.tmc-widget-inner::before {
    display: none !important;
}
.tmc-widget-heading {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    text-align: left;
}
.flag-icon {
    height: 40px !important;
}
.tmc-widget-section,
.tmc-widget-col-border-right,
.tmc-widget-section .tmc-widget-section-half-padding {
    border: none;
    padding: 20px 0;
}
.tmc-widget-section:last-of-type {
    padding: 10px 0 20px !important;
}
.instant-quote-currency-fields-section {
    padding: 5px 0 0;
}
.instant-quote-input-container input,
.instant-quote-input-container span {
    font-size: 1.8vw !important;
    font-weight: 700;
    max-height: 64px;
    color: inherit;
}
.tmc-widget-section:first-of-type {
    margin: 0;
    padding: 0 0 20px;
}
.tmc-widget-section-half-padding {
    box-shadow: rgb(76 151 232) 0px -2px 0px 0px inset;
}
.tmc-widget-section-flex .col-1,
.tmc-widget-section-flex .col-6 {
    box-shadow: rgb(76 151 232) 0px -2px 0px 0px inset;
    margin: 1rem 0;
}
.tmc-widget-section-flex .col-6:first-child {
    margin-right: 25px;
    max-width: 45%;
}
.tmc-widget-section-flex .col-6:last-child {
    margin-left: 25px;
    max-width: 45%;
}
.tmc-widget-section-flex .col-6:first-child::before {
    content: "You pay";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(124, 126, 141);
    font-size: 14px;
}
.tmc-widget-section-flex .col-6:last-child::before {
    content: "You get";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    font-weight: bold;
    color: rgb(124, 126, 141);
    font-size: 14px;
}
.media-body {
    font-weight: bold;
    vertical-align: middle !important;
}
.media-body small {
    font-weight: normal;
}
.btn-full-width {
    transition: all 300ms ease 0s;
    font-weight: bold !important;
    font-size: 16px !important;
    text-transform: none !important;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(56, 113, 194) !important;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    border-radius: 0px !important;
    border: none !important;
    height: 64px !important;
    width: 100%;
    padding: 0px 16px;
}
.tmc-widget-section-center-text {
    display: none;
}
p.tmc-widget-footnote {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}
.powered-by-spendology {
    display: none !important;
}
@media screen and (max-width: 767px) {
    .tmc-widget-heading {
        font-size: 7vw;
        margin: 10px;
    }
    .instant-quote-input-container input,
    .instant-quote-input-container span {
        font-size: 5.5vw !important;
    }
    .tmc-widget-section-flex .col-6:first-child {
        margin-right: 5px;
        max-width: 45%;
    }
    .tmc-widget-section-flex .col-6:last-child {
        margin-left: 5px;
        max-width: 50%;
    }
    .usps {
        font-size: 13px;
    }
}
